*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    font-size: 10px;
}

html, body, h1, h2, h3, h4, a, ol, ul, li, p, div {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    color: #000;
    font-family: allerLight;
}

h1 {
    font-family: allerDisplay;
    font-size: 1.5em;
    text-transform: uppercase;
}

h2 {
    font-family: allerDisplay;
    font-size: 1.8em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
    color: #c2c2c2;
}

p {
    font-size: 1.5em
}


/*##################### Top Bar ##########################*/

.header-container {
    position: relative;
}

.topbar {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: #fff 1px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 4.5em;
    z-index: 100;
}

.topbanner {
    position: absolute;
    top: 0px;
    margin-left: 20%;
    width: 80%;
    z-index: 200;
}

.logo {
    display: inline-block;
    width: 200px;
    background-color: #04e7ca;
    text-align: center;
    font-size: 4.5em;
    padding-top: 0.8em;
    padding-bottom: 1.1em;
    transition: all 0.3s ease;
}

.logo:hover {
    background-color: #3ef9e1;
}

.logo:active {
    background-color: #82f3e4;
}

.subheadline-container {
    display: inline-block;
    margin-left: -1em;
}

.subheadline-container p {
    font-size: 1.8em;
    padding: 0.3em 1em 0.3em 2em;
    position: absolute;
    top: 6.5em;
    color: #fff;
    background-color: #000;
    z-index: -1;
    margin-right: 2em;
}

.topbanner-nav {
    position: fixed;
    top: 0px;
    left: 20%;
    width: 200px;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-color: #04e7ca;
    z-index: 140;
    transition: all 0.3s ease;
}

.topbanner-nav img {
    width: 30px;
    height: 30px;
}

.topbanner-nav h3 {
    text-transform: uppercase;
}

.topbanner-nav:hover {
    background-color: #3ef9e1;
}

.topbanner-nav:active {
    background-color: #82f3e4;
}


/*##################### welcome container ##########################*/

.welcome-container {
    position: relative;
    z-index: -10;
    display: block;
    margin-top: 160px;
}

.welcome-column {
    width: 50%;
    display: inline-block;
    float: left;
}

.column-left img {
    width: 45%;
    height: auto;
    display: block;
    margin-left: 30%;
    margin-top: 180px;
}

.column-right img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: -13%;
}


/*##################### content grid ##########################*/

.text-latest-articles {
    padding: 4em 0 4em 0;
}

.content-grid-container {
    background-color: #ebebeb;
    border-top: #dedede 1px solid;
    padding-bottom: 200px;
    margin-top: 100px;
    text-align: center;
}

.content-grid-row {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.content-grid-column {
    display: inline-block;
    width: 50%;
    float: left;
    margin-bottom: 6em;
}

.content-grid-column a {
    display: block;
}

.blogpost-item {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    transition: all 0.3s ease;
    border: #dedede 1px solid;
    text-align: center;
}

.blogpost-item h3, h2 {
    padding-top: 1em;
}

.blogpost-item h2 {
    padding-bottom: 1em;
}

.blogpost-image {
    height: 230px;
    border-bottom: #dedede 1px solid;
    background-position: center center;
}

.blogpost-item:hover {
    /*opacity: 0.9;*/
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
}

.color-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0;
    transition: all 0.3s ease;
}

.color-overlay:hover {
    opacity: 0.3;
}

.color-overlay:active {
    opacity: 0.6;
}


/*##################### hands ##########################*/

.hands-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 45px;
    padding-bottom: 8%;
}

.hands-image {
    background: url(images/hands.png) center center;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*##################### blogpost detail ##########################*/

.blogpost-image-detail {
    height: 400px;
    width: 60%;
    margin: auto;
    margin-top: 4.5em;
    padding-bottom: 4.5em;
    text-align: center;
    border-bottom: #dedede 1px solid;
}

.blogpost-image-detail img {
    height: 100%;
    width: auto;
}

.blogpost-content {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 15em;
}

.blogpost-content h3, h2 {
    padding-top: 1em;
}

.blogpost-content h2 {
    padding-bottom: 1em;
}

.blogpost-content p {
    padding-bottom: 2em;
    text-align: left;
}

.blogpost-content-image-landscape {
    width: 90%;
    margin: auto;
    margin-bottom: 4em;
    text-align: center;
}
.blogpost-content-image-landscape img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}
.blogpost-content-image-portrait {
  width: 50%;
  margin: auto;
  margin-bottom: 4em;
  text-align: center;
}
.blogpost-content-image-portrait img {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

/*##################### MEDIA QUERY ##########################*/


/*##################### MEDIA QUERY ##########################*/


/*##################### MEDIA QUERY ##########################*/

@media screen and (max-width: 1500px) {
    .welcome-container {
        margin-top: 150px;
    }
    .column-left img {
        width: 50%;
        margin-top: 160px;
    }
}

@media screen and (max-width: 1120px) {
    .topbanner-nav {
        left: 13%;
    }
    .topbanner {
        margin-left: 13%;
    }
    .column-left {
        width: 45%;
    }
    .column-right {
        width: 55%;
    }
    .column-left img {
        margin-top: 140px;
        width: 55%;
    }
}

@media screen and (max-width: 900px) {
    .topbanner-nav {
        left: 12%;
    }
    .topbanner {
        margin-left: 12%;
    }
    .logo {
        width: 170px;
        font-size: 3.8em;
    }
    .subheadline-container p {
        font-size: 1.5em;
    }
    .topbanner-nav {
        width: 170px;
    }
    .column-left img {
        margin-top: 110px;
        margin-left: 25%;
        width: 60%;
    }
    .welcome-container {
        margin-top: 160px;
    }
    .text-latest-articles {
        padding: 3em 0 3em 0;
    }
    .content-grid-container {
        margin-top: 60px;
    }
    .blogpost-image {
        height: 180px;
    }
}

@media screen and (max-width: 768px) {
    .column-left {
        width: 40%;
    }
    .column-right {
        width: 60%;
    }
    .topbanner {
        margin-left: 6%;
        width: 94%;
    }
    .logo {
        width: 150px;
        font-size: 3.4em;
    }
    .topbanner-nav {
        left: 6%;
        width: 150px;
    }
    .subheadline-container p {
        top: 6em;
    }
    .column-left img {
        width: 70%;
        margin-top: 100px;
        margin-left: 15%;
    }
    .content-grid-row {
        width: 95%;
    }
    .text-latest-articles {
        padding: 2em 0 2em 0;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .topbanner-nav img {
        width: 25px;
        height: 25px;
    }
    .logo {
        width: 150px;
        font-size: 3em;
        padding-bottom: 1em;
    }
    .subheadline-container p {
        top: 5.5em;
        font-size: 1.4em;
    }
    .topbanner-nav {
        width: 150px;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .column-left {
        width: 100%;
    }
    .column-right {
        width: 100%;
    }
    .welcome-container {
        margin-top: 150px;
    }
    .column-left img {
        margin-top: 20px;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .column-right img {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .content-grid-column {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 130px;
        font-size: 2.5em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    .subheadline-container p {
        top: 3.6em;
    }
    .topbanner-nav {
        width: 130px;
    }
    .column-left img {
        width: 50%;
    }
    .column-right img {
        width: 95%;
        margin-top: 5px;
    }
    .welcome-container {
        margin-top: 120px;
    }
}

@media screen and (max-width: 350px) {
    .subheadline-container p {
        margin-right: 1em;
    }
    .topbanner-nav {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
    .topbanner-nav h3 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 270px) {
    .subheadline-container p {
        top: 2.3em;
    }
}

@font-face {
    font-family: 'allerLight';
    src: url('fonts/aller_lt-webfont.woff2') format('woff2'), url('fonts/aller_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerLightItalic';
    src: url('fonts/aller_ltit-webfont.woff2') format('woff2'), url('fonts/aller_ltit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerDisplay';
    src: url('fonts/allerdisplay-webfont.woff2') format('woff2'), url('fonts/allerdisplay-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@-ms-viewport {
    width: device-width;
}
